body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

/* Splash screen styling */
#splashScreen {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 20px;
    z-index: 10; /* Ensure splash screen is on top */
    pointer-events: auto; /* Ensure it can receive pointer events */
}
#policeLogo {
    width: 150px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#splashText {
    font-size: 24px;
    color: black;
    text-align: center;
}

/* Flashing text animation */
@keyframes flashText {
    0% { color: blue; }
    50% { color: red; }
    100% { color: blue; }
}

.flash {
    animation: flashText 450ms infinite;
}

/* Flashlight styling */
#flashlight {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

/* Controls styling */
#controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    gap: 10px;
}

button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button:focus {
    outline: none;
}

button.active {
    background-color: #555;
}
#policeLogo {
    width: 30%;
    height: auto; /* Maintain aspect ratio */
}

